table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    margin-top: 2em;
}
body{
    background-color: #660000;
    color: white;
}
#comboBox{
    width: 200px;
}
.radioButton{
    width: 100px;
}
#filterText{
    width: 250px;
}

.form-container{
    margin-left: 2em;
}

.radDescription{
    margin-right: 1em;
}

table{
    margin-left: 1em;
    margin-right: 1em;
}

p{
    
}